<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BasicPage ANY>
<!ATTLIST BasicPage id ID #REQUIRED>

]>
<root id="-1">
  <BasicPage id="1060" key="0e6b2e92-46e8-405f-b2f8-845aa9a78bf1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-21T20:43:26" updateDate="2014-03-03T12:09:26" nodeName="Welcome" urlName="welcome" path="-1,1060" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
    <BasicPage id="1061" key="f85099ba-e05c-43fd-80b2-bfec4a55b240" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2014-02-21T20:50:21" updateDate="2014-02-26T22:50:07" nodeName="Login" urlName="login" path="-1,1060,1061" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>0</showInNavigation>
      <mainContent><![CDATA[<?UMBRACO_MACRO macroAlias="Loginform" />
<p>&nbsp;</p>]]></mainContent>
      <showInBreadcrumb>0</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>0</showBreadcrumbsOnThisPage>
    </BasicPage>
    <BasicPage id="1062" key="ede58b1f-4480-4b76-ba35-07af3b6999e7" parentID="1060" level="2" creatorID="0" sortOrder="1" createDate="2014-02-21T20:51:05" updateDate="2014-02-26T22:50:32" nodeName="Register" urlName="register" path="-1,1060,1062" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>0</showInNavigation>
      <mainContent><![CDATA[<?UMBRACO_MACRO macroAlias="RegisterForm" />]]></mainContent>
      <showInBreadcrumb>0</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>0</showBreadcrumbsOnThisPage>
    </BasicPage>
    <BasicPage id="1063" key="54411c1f-08d4-4444-82e8-9f779449c7bb" parentID="1060" level="2" creatorID="0" sortOrder="2" createDate="2014-02-21T20:51:42" updateDate="2014-03-03T12:21:01" nodeName="About Us" urlName="about-us" path="-1,1060,1063" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>1</showInNavigation>
      <mainContent><![CDATA[<p>This is our about page.</p>]]></mainContent>
      <showInBreadcrumb>1</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>1</showBreadcrumbsOnThisPage>
    </BasicPage>
    <BasicPage id="1064" key="a2069441-8c1f-4f35-9346-bb84893399f6" parentID="1060" level="2" creatorID="0" sortOrder="3" createDate="2014-02-21T20:52:14" updateDate="2014-02-21T20:52:14" nodeName="Products" urlName="products" path="-1,1060,1064" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>1</showInNavigation>
      <showInBreadcrumb>0</showInBreadcrumb>
      <BasicPage id="1065" key="d1d01b9c-3635-48b7-9ac1-95a07dd03164" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2014-02-21T20:52:46" updateDate="2014-02-26T22:51:15" nodeName="Widgets" urlName="widgets" path="-1,1060,1064,1065" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
        <showInNavigation>1</showInNavigation>
        <mainContent><![CDATA[<p>These are our widgets</p>]]></mainContent>
        <showInBreadcrumb>1</showInBreadcrumb>
        <showNavigationOnThisPage>1</showNavigationOnThisPage>
        <showBreadcrumbsOnThisPage>1</showBreadcrumbsOnThisPage>
      </BasicPage>
      <BasicPage id="1066" key="8dcb4e9c-b7cd-4ac7-b6d9-196b310f1ca2" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2014-02-21T20:53:26" updateDate="2014-02-26T22:51:33" nodeName="Dodads" urlName="dodads" path="-1,1060,1064,1066" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
        <showInNavigation>1</showInNavigation>
        <mainContent><![CDATA[<p>These are our dodads.</p>]]></mainContent>
        <showInBreadcrumb>1</showInBreadcrumb>
        <showNavigationOnThisPage>1</showNavigationOnThisPage>
        <showBreadcrumbsOnThisPage>1</showBreadcrumbsOnThisPage>
      </BasicPage>
    </BasicPage>
    <BasicPage id="1068" key="f785fc16-fdec-4ced-b1f2-287ae167c060" parentID="1060" level="2" creatorID="0" sortOrder="4" createDate="2014-02-21T20:56:12" updateDate="2014-02-26T22:51:53" nodeName="Secret Stuff" urlName="secret-stuff" path="-1,1060,1068" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>1</showInNavigation>
      <mainContent><![CDATA[<p>You shoud only see this page if you are logged in.</p>]]></mainContent>
      <showInBreadcrumb>1</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>1</showBreadcrumbsOnThisPage>
    </BasicPage>
    <BasicPage id="1079" key="8c50a54f-4c1c-4145-8a08-21d8832d3cf6" parentID="1060" level="2" creatorID="0" sortOrder="5" createDate="2014-02-25T22:28:29" updateDate="2014-02-26T22:53:34" nodeName="Search Results" urlName="search-results" path="-1,1060,1079" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>0</showInNavigation>
      <mainContent><![CDATA[<?UMBRACO_MACRO macroAlias="SearchResults" />]]></mainContent>
      <showInBreadcrumb>0</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>0</showBreadcrumbsOnThisPage>
    </BasicPage>
    <BasicPage id="1080" key="ff84668b-227a-49d7-8dcf-f369557c7cda" parentID="1060" level="2" creatorID="0" sortOrder="6" createDate="2014-03-02T20:57:23" updateDate="2014-03-02T20:57:23" nodeName="My Account" urlName="my-account" path="-1,1060,1080" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>0</showInNavigation>
      <mainContent><![CDATA[<?UMBRACO_MACRO macroAlias="MyAccountForm" />]]></mainContent>
      <showInBreadcrumb>0</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>0</showBreadcrumbsOnThisPage>
    </BasicPage>
    <BasicPage id="1081" key="271efbee-0949-4736-b0f5-46a07ede6e39" parentID="1060" level="2" creatorID="0" sortOrder="7" createDate="2014-03-02T21:04:49" updateDate="2014-03-02T21:04:49" nodeName="Access denied" urlName="access-denied" path="-1,1060,1081" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="BasicPage">
      <showInNavigation>0</showInNavigation>
      <mainContent><![CDATA[<p>Sorry, you can't view this page.</p>]]></mainContent>
      <showInBreadcrumb>0</showInBreadcrumb>
      <showNavigationOnThisPage>1</showNavigationOnThisPage>
      <showBreadcrumbsOnThisPage>0</showBreadcrumbsOnThisPage>
    </BasicPage>
    <showInNavigation>1</showInNavigation>
    <mainContent><![CDATA[<?UMBRACO_MACRO macroAlias="Carousel" mediaFolderId="1073" width="900" />
<p>&nbsp;</p>]]></mainContent>
    <showInBreadcrumb>1</showInBreadcrumb>
    <showNavigationOnThisPage>1</showNavigationOnThisPage>
    <showBreadcrumbsOnThisPage>1</showBreadcrumbsOnThisPage>
  </BasicPage>
</root>